<div class="calculator">
    <input type="text" [value]="adad" readonly><br>
    <div class="button">
        <br>
        <button (click)="apendadad('1')">1</button>
        <button (click)="apendadad('2')">2</button>
        <button (click)="apendadad('3')">3</button>
        <button (click)="apendadad('+')">+</button>
        <br>
        <button (click)="apendadad('4')">4</button>
        <button (click)="apendadad('5')">5</button>
        <button (click)="apendadad('6')">6</button>
        <button (click)="apendadad('-')">-</button>
        <br>
        <button (click)="apendadad('7')">7</button>
        <button (click)="apendadad('8')">8</button>
        <button (click)="apendadad('9')">9</button>
        <button (click)="apendadad('*')">*</button>
        <br>
        <button (click)="apendadad('0')">0</button>
        <button (click)="clear()">c</button>
        <button (click)="calculate()">=</button>
        <button (click)="apendadad('/')">/</button>
    </div>
    
</div>

